<main>
  <section class="py-5">
  <div class="alert alert-info">
    <p><%= notice %></p>
  </div>
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
       <div class="row border rounded overflow-hidden p-2">
        <div class="col-md-4">
          <%= image_tag( @user.photo, class:"img-fluid rounded", width: "200", height:"250") %>
        </div>
        <div class="col-md-8">
          <h3 class="mb-0"><%= @user.name %></h3>
          <div class="mb-1 text-muted">Posts: <%= @user.posts.count || 0 %></div>
           <%= link_to "/post/new/#{@user.id}" do %>
             New post
            <% end %>
        </div>
      </div>
      </div>
    </div>
  </section>
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
       <div class="row border rounded overflow-hidden p-2">
        <div class="col-md-8">
          <h3 class="mb-0">Bio</h3>
          <div class="mb-1 text-muted">
            <p>
                <%= @user.bio %>
            </p>
          </div>
        </div>
      </div>
      </div>
    </div>
<% @user.posts.each do |post| %>
    <div class="row py-2">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="row border rounded overflow-hidden p-2">
                <div class="col-md-8">
                    <%= link_to "/users/#{@user.id}/posts/#{post.id}" do %>
                    <h3 class="mb-0"><%= post.title %></h3>
                    <% end %>
                    <div class="mb-1 text-muted">
                        <p>
                            <%= post.text %>
                        </p>
                        <span class="badge bg-primary">
                           Comments: <%= post.comments_counter %>
                        </span>
                        <span class="badge bg-info text-dark">
                           Likes: <%= post.likes_counter %>
                        </span>
                        <hr>
                        <i>
                        <% post.comments.each do |comment| %>
                        <p>
                            <strong><%= comment.post.author.name %></strong>: <%= comment.text %>
                        </p>
                        <% end %>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
</main>